APP_PASSWORD=skift-mig
SECRET_KEY=skift-denne-til-en-lang-tilfaeldig-streng

WHISPER_MODEL=small
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8

MAIL_TO=wrike@wrike.com
MAIL_CC=ep@a4.dk
MAIL_MARKER=*PODIOWRIKETASKDELETE*
